@{
    ViewBag.Title = "ARTP - MVC Home";
}

<div class="jumbotron">
    <h2 class="text-center" style="color:blue">
        <em>
            <strong>
                @ViewBag.Title - Linq To EF Practice
            </strong>
        </em>
    </h2>
    <p>
        This application can be used to practice linqToEF. You may use
        the navigational links to move between results from a Strongly
        Typed view set for products and an untyped view that passes values
        using the viewbag.
    </p>
    <h4 class="text-center" style="color:gray;margin-top:3em;">
        <em>
            <strong>
                The database used for this is Northwind and the Products, Categories,
                and Suppliers tables only.
            </strong>
        </em>
    </h4>
</div>