
@{
    ViewBag.Title = "Oops";
}
<!--TO view this page, you must go to the global.asax and code the Application_Error()-->
<h2 class="text-center">Not really sure what happened here, but I am sure we are fixing it...</h2>
<div style="width:60%;margin:auto">
    <img src="~/Content/oops.png" />
</div>

